<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #personneForm="ngForm">
            <div class="form-group">
                <label for="nom">Name</label>
                <input type="text" [(ngModel)]="personne.nom" class="form-control" id="nom" name="nom"
                    placeholder="Enter your name" required #nom="ngModel">
            </div>
            <div [hidden]="!nom.pristine" class="alert alert-danger">Name is required</div>
            <div class="form-group">
                <label for="prenom">Prenom</label>
                <input type="text" [(ngModel)]="personne.prenom" class="form-control" id="prenom" name="prenom"
                    placeholder="Enter your prenom address" required #prenom="ngModel">
                <div [hidden]="!prenom.pristine" class="alert alert-danger">prenom is required</div>
            </div>
            <button type="submit" [disabled]="!personneForm.form.valid" class="btn btn-info">Submit</button>
        </form>
    </div>
</div>