<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Num</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personne of personnes">
                    <td>{{ personne.num }}</td>
                    <td>{{ personne.nom }}</td>
                    <td>{{ personne.prenom }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>